[submodule "dfm-python"]
	path = dfm-python
	url = https://github.com/minkeymouse/dfm-python.git

[submodule "nowcasting-report"]
	path = nowcasting-report
	url = https://github.com/minkeymouse/nowcasting-report.git

